<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>
<div class="alert alert-primary" th:if="${result != null}" role="alert">
    <h3>[[${result}]]</h3>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col"><a th:if="${field != 'title'}"
                           th:href="@{'/v1/board-page/' + ${pageNum} + '?field=title&direction=' + ${direction}}"
                           style="text-decoration-line: none">제목</a>

            <a th:if="${field == 'title'}"
               th:href="@{'/v1/board-page/' + ${pageNum} + '?field=' +${field} + '&direction=' + ${down}}"
               style="text-decoration-line: none">제목</a>

            <span
                    th:if="${field == 'title'}"
                    th:class="${direction == 'up' ? 'bi bi-arrow-up-circle-fill' : 'bi bi-arrow-down-circle-fill'}"></span>
        </th>
        <th scope="col">내용</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일 및 시간</th>
        <th scope="col">편집</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${board}">
        <td>[[${post.id}]]</td>
        <td><a th:href="@{'/v1/get-board/' + ${post.id}}">[[${post.title}]]</a></td>
        <td>[[${post.content}]]</td>
        <td>[[${post.user}]]</td>
        <td>[[${post.creationTime}]]</td>
        <td>
            <a th:href="@{'/v1/boardForm/'+ ${post.id}}"><i class="bi bi-pencil-square h3"></i></a>
            &nbsp; &nbsp;
            <a th:href="@{'/v1/delete-board/' + ${post.id}}" id="delete-modal"> <i class="bi bi-trash-fill h3"></i></a>
            <!--            th:if="${#authentication.principal.user.id} == ${post.user.id}"-->
        </td>

    </tr>


    </tbody>

</table>

<div>
    <a th:href="@{/v1/boardForm}">
        <button type="button" class="btn btn-primary">게시글 작성하기</button>
    </a>
</div>

<div class="modal" tabindex="-1" id="myModalShow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="show-modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="show-modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="" class="btn btn-primary" id="delete-ok">OK</a>
            </div>
        </div>
    </div>
</div>
<th:block th:if="${totalPages>0}">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li th:class="${1 != pageNum ? 'page-item active' : 'page-item disabled'}"><a class="page-link"
                                                                                          th:href="@{'/v1/board-page/' + ${pageNum - 1} + '?field=' + ${field} + '&direction=' + ${direction}}">이전
                페이지</a></li>
            <li th:class="${CountBy==pageNum} ? 'page-item active' : 'page-item'"
                th:each="CountBy : ${#numbers.sequence(1,totalPages)}">
                <a class="page-link"
                   th:href="@{'/v1/board-page/' + ${CountBy} + '?field=' + ${field} + '&direction=' + ${direction}}">[[${CountBy}]]</a>
            </li>
            <li th:class="${totalPages == pageNum ? 'page-item disabled' : 'page-item active'}"><a class="page-link"
                                                                                                   th:href="@{'/v1/board-page/' + ${pageNum+1}+ '?field=' + ${field} + '&direction=' + ${direction}}">다음
                페이지</a></li>
        </ul>
    </nav>
</th:block>

<script type="text/javascript">
    let title = "게시글 삭제";
    let content = "해당하는 게시글을 삭제하시겠습니까?";
    document.addEventListener("DOMContentLoaded", function () {
        const collection = document.querySelectorAll("#delete-modal");
        collection.forEach(value => {
            value.addEventListener("click", function (e) {
                e.preventDefault();
                console.log(value);
                document.getElementById("show-modal-title").innerHTML = title;
                document.getElementById("show-modal-body").innerHTML = content;
                var myModal = new bootstrap.Modal(document.getElementById('myModalShow'));
                const attribute = value.getAttribute("href");
                console.log(attribute);
                myModal.show();
                const href = document.getElementById("delete-ok").setAttribute("href", attribute);
                console.log(href);
            });
        });

        document.getElementById("backButton").addEventListener("click", function () {
            window.location.href = "Board/boardList";
        });
    });
</script>
</body>
</html>