<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>


<div class="container mt-5">

    <form th:action="@{/v1/createBoard}" th:object="${board}" method="post" class="row g-3">
        <input type="hidden" th:field="*{id}">
        <h5 class="my-3 border-bottom pb-2">게시글 등록</h5>
            <div class="mb-3">
                <label for="subject" class="form-label">제목</label>
                <input type="text" name="subject" id="subject" th:field="*{title}" class="form-control">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea name="content" id="content" class="form-control" th:field="*{content}" rows="10"></textarea>
            </div>
        <button type="submit" value="저장하기" class="btn btn-primary my-2" id="post-button" style="width: 200px;">게시글 등록</button>
        <button class="btn btn-danger my-2" id="post-button" style="width: 200px;">뒤로가기</button>

    </form>
</div>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("post-button").addEventListener("click", function () {
            window.location.href = "Board/boardList";
        });
    });


</script>
</body>

</html>
