<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<div class="container mt-5">

    <h5 class="my-3 border-bottom pb-2">[[${board.title}]]</h5>
    <div align="right">작성자 - [[${board.user}]]</div>
    <div align="right">작성 시간  - [[${board.creationTime}]]</div>
    <div class="mb-3">
        <div>[[${board.content}]]</div>
    </div>
</div>

<div class="container mt-5">


    <div class="card" style="margin: 0 auto; width:900px; ">
        <div class="card-header">댓글 리스트</div>
        <ul id="comment--box" class="list-group">
            <th:block th:each="reply : ${replyList}">
                <li th:upReplyId="'reply-' + ${reply.id}" class="list-group-item d-flex justify-content-between">
                    <div class="d-flex">
                        <th:block th:if="${reply.creationTime}">
                        </th:block>

                        <div>[[${reply.comments}]]</div>
                        <div style="text-align: right"> - [[${reply.user.username}]]</div>
                        &nbsp&nbsp
                        <div> - 작성날짜 : [[${reply.creationTime}]]</div>
                        &nbsp

                        <!--                        <th:block th:if="${#authentication.principal} == ${reply.getUser()}">-->
                        <input type="hidden" th:replyId="${reply.id}">
                        <input type="hidden" th:boardId="${board.getId()}">
                        <div>
                            <button id="delete-button" class="btn btn-danger" style="width: 200px;"
                                    th:href="@{'/v1/delete-reply/'+${boardId}+ '/' + ${reply.id}}"> 삭제
                            </button>
                        </div>
                        <!--                        </th:block>-->
                    </div>
                </li>
            </th:block>
            <form th:action="@{'/v1/create-reply/' + ${boardId} + '/reply'}" method="post" th:object="${reply}">

                <div class="text-center m-2">
                    하단에 댓글을 입력하세요
                </div>
                <div>
                    <input type="text" th:field="*{comments}" class="form-control m-3" id="reply-content"
                           style="display: flex; align-items: center;" required>

                </div>
                <input type="hidden" th:value="${board.id}" id="boardId">

                <button type="submit" class="btn btn-primary m-3" value="저장" style="width: 200px;">저장</button>

            </form>
        </ul>
    </div>
</div>
<div class="modal" tabindex="-1" id="myModalShow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="show-modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="show-modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                <a href="" class="btn btn-primary" id="delete-ok">OK</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const collection = document.querySelectorAll("#delete-button");
        collection.forEach(value => {
            value.addEventListener("click", function (e) {
                console.log(value);
                document.getElementById("show-modal-title").innerHTML = "경고!";
                document.getElementById("show-modal-body").innerHTML = "해당하는 댓글을 삭제하시겠습니까?";
                var myModal = new bootstrap.Modal(document.getElementById('myModalShow'));
                const attribute = value.getAttribute("href");
                console.log(attribute);
                myModal.show();
                const href = document.getElementById("delete-ok").setAttribute("href", attribute);
                console.log(href);
            });
        });

    });


    function replyDelete(replyId) {

        url = "[[@{/v1/delete-reply}]]";
        userReplyId = replyId;
        requestParam = {id: userReplyId};
        $.get(url + '/' + userReplyId, function (response) {
            alert("해당하는 댓글이 삭제되었습니다: " + userReplyId);
            location.reload();
        }).done();
    }


</script>
</body>

</html>