<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>
<div class="alert alert-primary" th:if="${result != null}" role="alert">
    <h3>[[${result}]]</h3>
</div>


<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">번호</th>
        <th scope="col">사용자명</th>
        <th scope="col">이메일</th>
        <th scope="col">활성화</th>
        <th scope="col">계정 편집</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="everyUser :${usersList}">
        <td>[[${everyUser.id}]]</td>
        <td>[[${everyUser.username}]]</td>
        <td>[[${everyUser.email}]]</td>
        <td><a th:if="${everyUser.enabled == false}"><i class="bi bi-x-circle h3"></i></a>
            <a th:if="${everyUser.enabled == true}"><i class="bi bi-check-lg h3"></i></a>

        </td>
        <td><i class="bi bi-pencil-square h3"></i>&nbsp; &nbsp;
            <a id="delete-modal" th:href="@{'/v1/deleteUser/' + ${everyUser.id}}"> <i
                    class="bi bi-trash-fill h3"></i></a></td>

    </tr>

    </tbody>

</table>

<div class="modal" tabindex="-1" id="myModalShow">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="show-modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="show-modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="" class="btn btn-primary" id="delete-ok">OK</a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    let title = "사용자 삭제";
    let content = "해당하는 사용자를 삭제하시겠습니까?";
        document.addEventListener("DOMContentLoaded", function () {
            const collection = document.getElementById("delete-modal");
            collection.addEventListener('click', function (e) {
                e.preventDefault();
                const deleteLink = document.getElementById("delete-modal").getAttribute("href");
                document.getElementById("delete-ok").setAttribute("href", deleteLink);
                textChange(title, content);
            })
        });

        function textChange(title, content) {
            document.getElementById("show-modal-title").innerHTML = title;
            document.getElementById("show-modal-body").innerHTML = content;
            var myModal = new bootstrap.Modal(document.getElementById('myModalShow'));
            myModal.show();
    }
</script>
</body>


</html>