<!-- 2024 4/5
 author: LeeJongAnn
 description: when you want to use thymeleaf-springSecurity , you have to add below xmlns namespace
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
-->

<html th:fragment="security" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">영화 리뷰</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="navbar-toggler-icon"></div>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/v1/popular/1}">인기영화순</a>
                </li>


                <!--              2024 4/5
                                    author: LeeJongAnn
                                    description: login person can only see when you use sec:authorize="isAuthenticated()"
                                    -->
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/v1/userList}">사용자 리스트</a>
                </li>
                <!--              2024 4/5
                                    author: LeeJongAnn
                                    description: login person can only see when you use sec:authorize="isAuthenticated()"
                                    -->

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/v1/board/1}">게시판</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/v1/signUser}">회원가입</a>
                </li>

                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" th:href="@{/v1/login-page}">로그인</a>
                </li>

                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" th:href="@{/v1/logout}">로그아웃</a>
                </li>
            </ul>
            <div sec:authentication style="align-items: center; color:azure; " >유저명: [[${#authentication.getPrincipal()}]]</div> &nbsp;&nbsp;
            <div sec:authentication style="align-items: center; color:bisque; " >계정 권한: [[${#authentication.getAuthorities()}]]</div>
        </div>
    </div>
</nav>
