<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>

<div class="container" style="width: 500px; height: 600;">

    <div class="card text-center">
        <div style="text-align: center">
            <img th:src="${address + posterPath}" width="300" height="300">
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${movieDetails.getOverview()}"></p>
        </div>
    </div>

</div>

</body>
</html>