<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">제목(상세보기)</th>
        <th scope="col">평점</th>
        <th scope="col">투표수</th>
        <th scope="col">출시일</th>
        <th scope="col">줄거리</th>
    </tr>
    </thead>


    <tbody th:each="index : ${#numbers.sequence(0,popularMovieList.getMovieList().size()-1,4)}">
    <tr th:if="${popularMovieList.getMovieList()[index].overview!=''}">
        <td>
            <img th:src="${address +popularMovieList.getMovieList()[index].poster_path}" width="300" height="300">
        </td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index].title}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index].vote_average}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index].vote_count}"></td>
        <td th:text="${popularMovieList.getMovieList()[index].release_date}"></td>
        <td th:text="${popularMovieList.getMovieList()[index].overview}"></td>
    </tr>

    <tr th:if="${popularMovieList.getMovieList()[index+1].overview!=''}">
        <td>
            <img th:src="${address +popularMovieList.getMovieList()[index+1].poster_path}" width="300" height="300">
        </td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+1].title}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+1].vote_average}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+1].vote_count}"></td>
        <td th:text="${popularMovieList.getMovieList()[index+1].release_date}"></td>
        <td th:text="${popularMovieList.getMovieList()[index+1].overview}"></td>
    </tr>

    <tr th:if="${popularMovieList.getMovieList()[index+2].overview!=''}">
        <td>
            <img th:src="${address +popularMovieList.getMovieList()[index+2].poster_path}" width="300" height="300">
        </td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+2].title}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+2].vote_average}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+2].vote_count}"></td>
        <td th:text="${popularMovieList.getMovieList()[index+2].release_date}"></td>
        <td th:text="${popularMovieList.getMovieList()[index+2].overview}"></td>
    </tr>
    <tr th:if="${popularMovieList.getMovieList()[index+3].overview!=''}">
        <td>
            <img th:src="${address +popularMovieList.getMovieList()[index+3].poster_path}" width="300" height="300">
        </td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+3].title}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+3].vote_average}"></td>
        <td width="120px" th:text="${popularMovieList.getMovieList()[index+3].vote_count}"></td>
        <td th:text="${popularMovieList.getMovieList()[index+3].release_date}"></td>
        <td th:text="${popularMovieList.getMovieList()[index+3].overview}"></td>
    </tr>

    </tbody>
</table>

<th:block th:if="${totalPages>0}">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item" th:each="index : ${#numbers.sequence(1,10)}">
                <a class="page-link"  th:href="@{'/v1/popular/' + ${index}}">[[${index}]]</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</th:block>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>