<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{Part/header :: header}">
</head>
<nav th:replace="~{Part/navbar :: navigation}"></nav>
<body>


<div class="border border-dark mt-5" style="margin: 0 auto; padding: 25px; width: 400px; height: 400px;">
    <div class="text-center">로그인을 하세요</div>
    <form th:action="@{/login}" method="post" style="max-width: 700px; margin : 0 auto;">
        <div th:if="${param.error}" class="text-center">
            <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
        </div>
        <div class="mb-3">
            <label class="form-label">이메일</label>
            <input type="text" name="email" class="form-control" required minlength="3">
        </div>

        <div class="mb-3">
            <label class="form-label">비밀번호</label>
            <input type="password" name="password" class="form-control" required minlength="3">
        </div>

        <div class="text-center">
            <input type="submit" value="로그인" class="btn btn-primary">
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>